<h1>This is index page displaying <%= @user.name %> user Customers</h1>
<% @customers.each do |customer| %>
    <p> <%= customer.name %></p>
    <p><%= customer.created_at %></p> 
    </br>
<% end %>

